/*
CTC Separate Stylesheet
Updated: 2018-11-12 08:28:40
Theme Name: Hoot Ubix Child DDHF
Theme URI: https://wphoot.com/themes/hoot-ubix/
Template: hoot-ubix
Author: wpHoot
Author URI: https://wphoot.com/
Description: A light, clean, responsive and fast loading modern theme with outstanding design. Use Ubix for portfolio, photography, digital agency, product showcase, cooking, corporate and business website etc. Customize Ubix to perfection and configure your home page using a vast array of customization options. Change the colors to your brand colors or to suit your taste with ease and add patterns, textures and images to give your page a unique look. Ubix has been rigorously tested for speed and optimized for maximum performance . It has one of the fastest load times as page load time dramatically affects end user site experience. Under the hood Ubix runs on robust code that conforms to the best coding standards making it very compatible with all major plugins. Ubix is a multi-purpose theme and has been designed with all kinds of users in mind: from the freelancer with a small yet faithful audiece to a more corporate user who can benefit greatly from its SEO friendly design. Have amazing products? Then add your online shop with eCommerce and WooCommerce to give your business a boost. Theme support is available at https://wphoot.com/support/ You can also check out the theme instructions at https://wphoot.com/support/hoot-ubix/ and demo at https://demo.wphoot.com/hoot-ubix/ for a closer look.
Tags: one-column,two-columns,three-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-menu,custom-logo,featured-images,footer-widgets,full-width-template,microformats,sticky-post,theme-options,threaded-comments,translation-ready,blog,e-commerce,news
Version: 1.6.7.1542011320
*/

// DDHF colors
$black: rgba(0, 0, 0, 1);
$red: rgba(204, 29, 27, 1);
$yellow: rgba(255, 221, 0, 0.7);

// your basic grays and white
$dark-gray: #222;
$mid-gray: #aaa;
$light-gray: #f5f5f5;
$white: #fff;

.double-image-right {
  float: right;
}

.content-block-style2 {
  .content-block {
    &.highlight-typo {
      border:none;
    }
  }
}


@media only screen and (max-width: 974px) {
   .double-image-right,
   .double-image-left {
   float: none;
     text-align: center;
     display: block;
  }
  .double-image-right {
    margin-top: 20px;
  }
}


.flush-columns {
  > .content-block-row {
    margin-bottom: 20px;
  }
}

div.wpforms-container-full .wpforms-form .wpforms-title {
  line-height: 1.33333333em;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #222;
  margin: 25px 0 15px;
  text-rendering: optimizelegibility;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 1.33333333em;
}

address {
  border: none;
  padding: 0;
}

.table-head {
  color: $white;
  background: $black;
  font-weight: bold;
}

div.style-dark {
  background: none !important;
}

abbr {
  text-decoration: none;
}

.grecaptcha-badge {
  display: none!important;
}


@media screen and (max-width: 450px) {
  p {
    margin-bottom: 0;

    + p {
      margin: 1em 0 0;
    }
  }
  .entry-the-content {
    figure {
      width: 100% !important;

      img.size-medium {
        width: 100% !important;
        max-width: 100% !important;
      }
    }

  }
}

// Call-To-Action Headline in footer the same as the other headlines
#hoot-cta-widget-3 {
  > div {
    > div {
      > h3.cta-headline {
        color: $dark-gray;
        font-size: 15px;
        font-family: inherit;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 15px;
      }
    }
  }
}

// Spreadshirt page changes

#spreadplugin-list {
  text-align: center;
}

.spreadplugin-article.min-view {
  .price-wrapper {
    background-color: rgba($yellow, 1);
    color: $black;
    line-height: 84px;
    text-indent: -2px !important;
    min-height: 84px;
    padding-top: 0 !important;
  }
}

.spreadplugin-items {
  #infscr-loading {
    bottom: 150px;
  }
}

#spreadplugin-tabs_wrapper ul.check li::before,
#spreadplugin-tabs_wrapper ul.listMCE li::before {
  color: $red;
}

.spreadplugin-article-detail input[type="submit"] {
  background: $red;
  border: none;
  padding: 10px 60px 10px;
}

#submit, .button, input[type="submit"],
#submit, .button, input[type="submit"]:hover {
  transform: none;
  box-shadow: none;
}

@media only screen and (max-width: 481px) {
  .spreadplugin-article.min-view .price-wrapper {
    width: 84px !important;
    margin-right: 5px;
  }
}

li[id^='menu-item-'] {
  z-index: 2000;
}

#spreadplugin-cart {
  background: $light-gray;
}

.spreadplugin-cart {
  right: 20px;

  @media screen and (max-width: 440px) {
    width: 90vw;
  }

}

.spreadplugin-menu #checkout {
  padding-right: 10px;
}

// center widget-titles and social-media-buttons
h3.widget-title,
.social-icons-widget.social-icons-medium {
  text-align: center;
}

#footer {
  .widget_custom_html {
    margin-top: 40px;
  }
}

// remove unneccessary line
div.entry-content {
  border-bottom: 0;
}

// hyphenate when not enough space
body {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p.footer-margin {
  margin-bottom: 0;
}

span.entry-byline-label,
.tribe-events-promo {
  display: none;
}

.footer {
  border-top: solid 1px $mid-gray;
}

::selection {
  color: $black;
  background: $yellow;
}

// direct contact

#contact-box {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  @media screen and (max-width: 794px) {
    justify-content: space-evenly;
  }
  @media screen and (max-width: 539px) {
    justify-content: left;
  }
}

.contact-item {
  h4 {
    text-transform: none;
    font-size: 1.2em;
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  width: 240px;
  min-width: 240px;
  height: auto;
  margin: 0 15px 15px 0;
}

// organizer chart

#org-chart {
  padding: 0 1em;

  .org-chart-headline {
    h3 {
      text-align: left;
      margin: 2em 0 0;
      padding: 0;
      color: $dark-gray;
    }
  }

  [class^="org-chart-group-"] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid $dark-gray;


    + .org-chart-group {
      margin-top: 3em;
    }

    .org-chart-chart {
      flex-grow: 1;
      margin: 1em 0 0;

      .org-chart-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;

        .org-chart-item {
          text-align: center;
          width: 290px;
          height: auto;
          min-height: 160px;
          margin: 95px 1em 1em;
          display: inline-block;
          padding: 1em;
          transition: all 0.5s;
          background: $light-gray;
          border-radius: 10px;

          img {
            background: $white;
            margin-top: -95px;
            width: 160px;
            height: auto;
            border-radius: 100%;
            border: 10px solid $white;
            position: relative;
            z-index: 200;
          }

          .org-chart-information {
            position: relative;
            margin-top: 20px;
            color: $dark-gray;
            text-align: center;

            .org-chart-vacant {
              position: absolute;
              top: -60px;
              left: 20px;
              z-index: 210;
              background: $red;
              color: $white;
              padding: .3em 1em;
              transform: rotate(-30deg);
              font-size: 1.3em;
              letter-spacing: 3px;
              font-weight: bold;
            }
            .org-chart-name {
              font-weight: bold;
              font-size: 1.3em;
              letter-spacing: 2px;
            }

            .org-chart-link {
              margin-bottom: 10px;
              font-weight: bold;
            }

            .org-chart-position {
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 960px) {
  .org-chart-headline h3 {
    text-align: center;
  }
  .org-chart-group + .org-chart-group {
    margin-top: 0;
  }
}

@media only screen and (max-width: 544px) {
  .org-chart-item {
    min-width: 80%;
    height: auto;
    min-height: auto;
    display: inline-block;
    padding: 1em .5em;
  }
}

// end organizer chart

// members overview

.members-request-box {
  h4 {
    text-transform: none;
  }
}

#members-wrap,
.members-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.members-item {
  width: 50%;
  margin-bottom: 2em;
}

.members-img {
  flex-shrink: 0;
}

.members-img img,
.aside-img img {
  width: 130px;
  max-width: 130px;
  height: 130px;
  max-height: 130px;
  flex-shrink: 0;
}


.aside-align {
  text-align: center;
}

.aside-title {
  margin-top: 20px;
  font-weight: bold;
}


.members-information {
  width: 300px;
  max-width: 300px;
  padding-left: 1em;
  line-height: 1.3em;
}

.members-title {
  margin: 0 0 .5em;
  font-weight: bold;
}

.members-link {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $red;
}

.members-color {
  color: #666;
}

.members-hide {
  display: none;
}

ul.members-filter-menu {
  list-style-type: none;
  margin: 0 0 3em;
  padding: 0;
  text-align: center;
}

li[class*="members-filter"] {
  color: #222;
  background: $yellow;
  padding: .25em 1em;
  margin: 0 0 .25em;
  display: inline-block;
  cursor: pointer;
}

li[class*="members-filter"]:hover,
li[class*="members-filter"]:focus,
li.members-active {
  background: $red;
  color: $white;
}

@media only screen and (max-width: 889px) {
  .members-img {
    margin-bottom: 1em;
  }
  .members-information {
    text-align: center;
  }
}

@media only screen and (max-width: 690px) {
  .members-img {
    margin-bottom: 1em;
  }
  .members-item {
    width: 90%;
    margin-bottom: 2em;
  }
  .members-information {
    line-height: 1.3em;
    text-align: left;
  }
}

@media only screen and (max-width: 496px) {
  .members-information {
    text-align: center;
  }
}


// end members overview

.ecs-event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ecs-event {
  min-width: 45%;
  max-width: 45%;
  list-style-type: none;
  padding-bottom: 20px;
}
@media only screen and (max-width: 840px) {
  .ecs-event-list {
    justify-content: center;
    text-align: center;
  }
  .ecs-event {
    max-width: 100%;
    width: 100%;
  }

}
// tournament calendar



// end tournament calendar

/* just some temporary bs */

.tribe-events-category-turnier {
  > h3 {
  font-weight: bold;
}
}

.entry-the-content {
  margin-top: 2.6em;
}
@media only screen and (max-width: 799px) {
  .entry-the-content {
    margin-top: 0;
  }
}

/* Newsletter Prompt */

.newsletterPrompt {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: translateY(100%) translateX(0%);
  background: $white;
  border-right: none;
  z-index: 300;
  transition: all .333s;
  padding-bottom: 10px;


  &.show {
    transform: translateY(0%) translateX(0%);
    transition: all .333s;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  }

  span {

    padding: 20px 20px 0;
    color: $black;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    i {
      font-size: 16px;
      padding-right: 12px;
      line-height: 20px;
      cursor: pointer;
      color: $red;
    }

    strong {
      text-transform: uppercase;
    }
  }

  p {
    margin: 0;
    padding: 0 20px;
  }
}

@media(min-width: 768px) {
  .newsletterPrompt {
    width: 44%;
    top: 80vh;
    bottom: auto;
    right: 0;
    transform: translateY(-50%) translateX(100%);

    &.show {
      transform: translateY(-50%) translateX(0%);
    }
  }
}

@media(min-width: 992px) {
  .newsletterPrompt {
    width: 33%;
  }
}

@media(min-width: 1200px) {
  .newsletterPrompt {
    width: 18%;
    top: 50vh;
  }
}

/* styling archives */


main.layout-full-width {
  > div#content-wrap {
    > div#archive-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > article {
        width: 23%;
        min-width: 230px;
        margin: 5px 10px;
        padding-top: 1em;
        @media(max-width: 529px) {
          width: 90%;
        }
        img.entry-content-featured-img {
          margin-bottom: 0;
        }
        h2.entry-title {
          text-transform: unset;
        }
      }
    }
  }
}

/* increase size in footer and giving it some padding */

small, cite, .small {
  font-size: .9em;
}

div#post-footer {
  padding-bottom: 1em;
}

h4.content-block-title {
  min-height: 43px;
}

.content-block-image {
  margin-bottom: 0;
}

.content-block-content {
  padding-top: 15px;
}

#frontpage-area_a_1,
#frontpage-area_a_2,
section.widget_hoot-posts-blocks-widget {
  .content-block-subtitle {
    margin-bottom: 5px;
  }
  h4 {
    &.content-block-title {
      text-transform: none;
    }
  }
  .content-block-content {
    padding-top: 5px;
  }

  .flush-columns > {
    .content-block-row {
      margin-bottom: 5px;
    }
  }
}

/* q&d style fixes */

.sp-easy-accordion .sp-ea-single .ea-header a {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
}

.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
  padding: 5px 15px;
}

div.sp-easy-accordion {
  margin-top: -1em;
}

.menu-description {
  display:none;
}
@media only screen and (max-width: 799px) {
  #sidebar-primary .content-block-style2 .content-block-image,
  #frontpage-area_d .content-block-visual {
    margin: -20px -15px 0 -15px;
  }
}

#frontpage-area_a_2 .widget_hoot-posts-blocks-widget .content-block-visual,
#frontpage-area_a_1 .widget_hoot-posts-blocks-widget .content-block-visual,
#frontpage-area_d .content-block-visual,
#archive-wrap .content-block-visual,
#sidebar-primary .content-block-visual,
.image-container-archive {
  position: relative;
  padding-bottom: 52.5%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.ddhf-downloads-heading {
  text-transform: none;
  font-size: 1.2em;
}
.ddhf-downloads {
  display: table;
  width: 100%;
  .ddhf-downloads-row {
    &:nth-child(even) {
      background: #f0f0f0;
    }
    display: table-row;
    .ddhf-downloads-cell {
      padding: 10px;
      vertical-align: middle;

      &.ddhf-downloads-image {
        > img {
          max-height: 75px;
          width:auto;
        }
        > img.ddhf-downloads-icon {
          max-height: 50px;
        }
      }
      &.ddhf-downloads-icon {
        img {
          height: 40px;
          width: 40px;
        }
      }
      display: table-cell;
    }
  }
}