/*
CTC Separate Stylesheet
Updated: 2018-11-12 08:28:40
Theme Name: Hoot Ubix Child DDHF
Theme URI: https://wphoot.com/themes/hoot-ubix/
Template: hoot-ubix
Author: wpHoot
Author URI: https://wphoot.com/
Description: A light, clean, responsive and fast loading modern theme with outstanding design. Use Ubix for portfolio, photography, digital agency, product showcase, cooking, corporate and business website etc. Customize Ubix to perfection and configure your home page using a vast array of customization options. Change the colors to your brand colors or to suit your taste with ease and add patterns, textures and images to give your page a unique look. Ubix has been rigorously tested for speed and optimized for maximum performance . It has one of the fastest load times as page load time dramatically affects end user site experience. Under the hood Ubix runs on robust code that conforms to the best coding standards making it very compatible with all major plugins. Ubix is a multi-purpose theme and has been designed with all kinds of users in mind: from the freelancer with a small yet faithful audiece to a more corporate user who can benefit greatly from its SEO friendly design. Have amazing products? Then add your online shop with eCommerce and WooCommerce to give your business a boost. Theme support is available at https://wphoot.com/support/ You can also check out the theme instructions at https://wphoot.com/support/hoot-ubix/ and demo at https://demo.wphoot.com/hoot-ubix/ for a closer look.
Tags: one-column,two-columns,three-columns,left-sidebar,right-sidebar,custom-background,custom-colors,custom-menu,custom-logo,featured-images,footer-widgets,full-width-template,microformats,sticky-post,theme-options,threaded-comments,translation-ready,blog,e-commerce,news
Version: 1.6.7.1542011320
*/
.double-image-right {
  float: right;
}

.content-block-style2 .content-block.highlight-typo {
  border: none;
}

@media only screen and (max-width: 974px) {
  .double-image-right,
.double-image-left {
    float: none;
    text-align: center;
    display: block;
  }

  .double-image-right {
    margin-top: 20px;
  }
}
.flush-columns > .content-block-row {
  margin-bottom: 20px;
}

div.wpforms-container-full .wpforms-form .wpforms-title {
  line-height: 1.33333333em;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
  margin: 25px 0 15px;
  text-rendering: optimizelegibility;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-transform: uppercase;
  font-size: 1.33333333em;
}

address {
  border: none;
  padding: 0;
}

.table-head {
  color: #fff;
  background: black;
  font-weight: bold;
}

div.style-dark {
  background: none !important;
}

abbr {
  text-decoration: none;
}

.grecaptcha-badge {
  display: none !important;
}

@media screen and (max-width: 450px) {
  p {
    margin-bottom: 0;
  }
  p + p {
    margin: 1em 0 0;
  }

  .entry-the-content figure {
    width: 100% !important;
  }
  .entry-the-content figure img.size-medium {
    width: 100% !important;
    max-width: 100% !important;
  }
}
#hoot-cta-widget-3 > div > div > h3.cta-headline {
  color: #222;
  font-size: 15px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 15px;
}

#spreadplugin-list {
  text-align: center;
}

.spreadplugin-article.min-view .price-wrapper {
  background-color: #ffdd00;
  color: black;
  line-height: 84px;
  text-indent: -2px !important;
  min-height: 84px;
  padding-top: 0 !important;
}

.spreadplugin-items #infscr-loading {
  bottom: 150px;
}

#spreadplugin-tabs_wrapper ul.check li::before,
#spreadplugin-tabs_wrapper ul.listMCE li::before {
  color: #cc1d1b;
}

.spreadplugin-article-detail input[type=submit] {
  background: #cc1d1b;
  border: none;
  padding: 10px 60px 10px;
}

#submit, .button, input[type=submit],
#submit, .button, input[type=submit]:hover {
  transform: none;
  box-shadow: none;
}

@media only screen and (max-width: 481px) {
  .spreadplugin-article.min-view .price-wrapper {
    width: 84px !important;
    margin-right: 5px;
  }
}
li[id^=menu-item-] {
  z-index: 2000;
}

#spreadplugin-cart {
  background: #f5f5f5;
}

.spreadplugin-cart {
  right: 20px;
}
@media screen and (max-width: 440px) {
  .spreadplugin-cart {
    width: 90vw;
  }
}

.spreadplugin-menu #checkout {
  padding-right: 10px;
}

h3.widget-title,
.social-icons-widget.social-icons-medium {
  text-align: center;
}

#footer .widget_custom_html {
  margin-top: 40px;
}

div.entry-content {
  border-bottom: 0;
}

body {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

p.footer-margin {
  margin-bottom: 0;
}

span.entry-byline-label,
.tribe-events-promo {
  display: none;
}

.footer {
  border-top: solid 1px #aaa;
}

::selection {
  color: black;
  background: rgba(255, 221, 0, 0.7);
}

#contact-box {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
@media screen and (max-width: 794px) {
  #contact-box {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 539px) {
  #contact-box {
    justify-content: left;
  }
}

.contact-item {
  width: 240px;
  min-width: 240px;
  height: auto;
  margin: 0 15px 15px 0;
}
.contact-item h4 {
  text-transform: none;
  font-size: 1.2em;
  margin-top: 0;
}
.contact-item p {
  margin: 0;
}

#org-chart {
  padding: 0 1em;
}
#org-chart .org-chart-headline h3 {
  text-align: left;
  margin: 2em 0 0;
  padding: 0;
  color: #222;
}
#org-chart [class^=org-chart-group-] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 2px solid #222;
}
#org-chart [class^=org-chart-group-] + .org-chart-group {
  margin-top: 3em;
}
#org-chart [class^=org-chart-group-] .org-chart-chart {
  flex-grow: 1;
  margin: 1em 0 0;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item {
  text-align: center;
  width: 290px;
  height: auto;
  min-height: 160px;
  margin: 95px 1em 1em;
  display: inline-block;
  padding: 1em;
  transition: all 0.5s;
  background: #f5f5f5;
  border-radius: 10px;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item img {
  background: #fff;
  margin-top: -95px;
  width: 160px;
  height: auto;
  border-radius: 100%;
  border: 10px solid #fff;
  position: relative;
  z-index: 200;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item .org-chart-information {
  position: relative;
  margin-top: 20px;
  color: #222;
  text-align: center;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item .org-chart-information .org-chart-vacant {
  position: absolute;
  top: -60px;
  left: 20px;
  z-index: 210;
  background: #cc1d1b;
  color: #fff;
  padding: 0.3em 1em;
  transform: rotate(-30deg);
  font-size: 1.3em;
  letter-spacing: 3px;
  font-weight: bold;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item .org-chart-information .org-chart-name {
  font-weight: bold;
  font-size: 1.3em;
  letter-spacing: 2px;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item .org-chart-information .org-chart-link {
  margin-bottom: 10px;
  font-weight: bold;
}
#org-chart [class^=org-chart-group-] .org-chart-chart .org-chart-row .org-chart-item .org-chart-information .org-chart-position {
  margin-bottom: 10px;
}

@media only screen and (max-width: 960px) {
  .org-chart-headline h3 {
    text-align: center;
  }

  .org-chart-group + .org-chart-group {
    margin-top: 0;
  }
}
@media only screen and (max-width: 544px) {
  .org-chart-item {
    min-width: 80%;
    height: auto;
    min-height: auto;
    display: inline-block;
    padding: 1em 0.5em;
  }
}
.members-request-box h4 {
  text-transform: none;
}

#members-wrap,
.members-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.members-item {
  width: 50%;
  margin-bottom: 2em;
}

.members-img {
  flex-shrink: 0;
}

.members-img img,
.aside-img img {
  width: 130px;
  max-width: 130px;
  height: 130px;
  max-height: 130px;
  flex-shrink: 0;
}

.aside-align {
  text-align: center;
}

.aside-title {
  margin-top: 20px;
  font-weight: bold;
}

.members-information {
  width: 300px;
  max-width: 300px;
  padding-left: 1em;
  line-height: 1.3em;
}

.members-title {
  margin: 0 0 0.5em;
  font-weight: bold;
}

.members-link {
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #cc1d1b;
}

.members-color {
  color: #666;
}

.members-hide {
  display: none;
}

ul.members-filter-menu {
  list-style-type: none;
  margin: 0 0 3em;
  padding: 0;
  text-align: center;
}

li[class*=members-filter] {
  color: #222;
  background: rgba(255, 221, 0, 0.7);
  padding: 0.25em 1em;
  margin: 0 0 0.25em;
  display: inline-block;
  cursor: pointer;
}

li[class*=members-filter]:hover,
li[class*=members-filter]:focus,
li.members-active {
  background: #cc1d1b;
  color: #fff;
}

@media only screen and (max-width: 889px) {
  .members-img {
    margin-bottom: 1em;
  }

  .members-information {
    text-align: center;
  }
}
@media only screen and (max-width: 690px) {
  .members-img {
    margin-bottom: 1em;
  }

  .members-item {
    width: 90%;
    margin-bottom: 2em;
  }

  .members-information {
    line-height: 1.3em;
    text-align: left;
  }
}
@media only screen and (max-width: 496px) {
  .members-information {
    text-align: center;
  }
}
.ecs-event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ecs-event {
  min-width: 45%;
  max-width: 45%;
  list-style-type: none;
  padding-bottom: 20px;
}

@media only screen and (max-width: 840px) {
  .ecs-event-list {
    justify-content: center;
    text-align: center;
  }

  .ecs-event {
    max-width: 100%;
    width: 100%;
  }
}
/* just some temporary bs */
.tribe-events-category-turnier > h3 {
  font-weight: bold;
}

.entry-the-content {
  margin-top: 2.6em;
}

@media only screen and (max-width: 799px) {
  .entry-the-content {
    margin-top: 0;
  }
}
/* Newsletter Prompt */
.newsletterPrompt {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: translateY(100%) translateX(0%);
  background: #fff;
  border-right: none;
  z-index: 300;
  transition: all 0.333s;
  padding-bottom: 10px;
}
.newsletterPrompt.show {
  transform: translateY(0%) translateX(0%);
  transition: all 0.333s;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.newsletterPrompt span {
  padding: 20px 20px 0;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.newsletterPrompt span i {
  font-size: 16px;
  padding-right: 12px;
  line-height: 20px;
  cursor: pointer;
  color: #cc1d1b;
}
.newsletterPrompt span strong {
  text-transform: uppercase;
}
.newsletterPrompt p {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .newsletterPrompt {
    width: 44%;
    top: 80vh;
    bottom: auto;
    right: 0;
    transform: translateY(-50%) translateX(100%);
  }
  .newsletterPrompt.show {
    transform: translateY(-50%) translateX(0%);
  }
}
@media (min-width: 992px) {
  .newsletterPrompt {
    width: 33%;
  }
}
@media (min-width: 1200px) {
  .newsletterPrompt {
    width: 18%;
    top: 50vh;
  }
}
/* styling archives */
main.layout-full-width > div#content-wrap > div#archive-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main.layout-full-width > div#content-wrap > div#archive-wrap > article {
  width: 23%;
  min-width: 230px;
  margin: 5px 10px;
  padding-top: 1em;
}
@media (max-width: 529px) {
  main.layout-full-width > div#content-wrap > div#archive-wrap > article {
    width: 90%;
  }
}
main.layout-full-width > div#content-wrap > div#archive-wrap > article img.entry-content-featured-img {
  margin-bottom: 0;
}
main.layout-full-width > div#content-wrap > div#archive-wrap > article h2.entry-title {
  text-transform: unset;
}

/* increase size in footer and giving it some padding */
small, cite, .small {
  font-size: 0.9em;
}

div#post-footer {
  padding-bottom: 1em;
}

h4.content-block-title {
  min-height: 43px;
}

.content-block-image {
  margin-bottom: 0;
}

.content-block-content {
  padding-top: 15px;
}

#frontpage-area_a_1 .content-block-subtitle,
#frontpage-area_a_2 .content-block-subtitle,
section.widget_hoot-posts-blocks-widget .content-block-subtitle {
  margin-bottom: 5px;
}
#frontpage-area_a_1 h4.content-block-title,
#frontpage-area_a_2 h4.content-block-title,
section.widget_hoot-posts-blocks-widget h4.content-block-title {
  text-transform: none;
}
#frontpage-area_a_1 .content-block-content,
#frontpage-area_a_2 .content-block-content,
section.widget_hoot-posts-blocks-widget .content-block-content {
  padding-top: 5px;
}
#frontpage-area_a_1 .flush-columns > .content-block-row,
#frontpage-area_a_2 .flush-columns > .content-block-row,
section.widget_hoot-posts-blocks-widget .flush-columns > .content-block-row {
  margin-bottom: 5px;
}

/* q&d style fixes */
.sp-easy-accordion .sp-ea-single .ea-header a {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
}

.sp-ea-one.sp-easy-accordion .sp-ea-single .ea-header a {
  padding: 5px 15px;
}

div.sp-easy-accordion {
  margin-top: -1em;
}

.menu-description {
  display: none;
}

@media only screen and (max-width: 799px) {
  #sidebar-primary .content-block-style2 .content-block-image,
#frontpage-area_d .content-block-visual {
    margin: -20px -15px 0 -15px;
  }
}
#frontpage-area_a_2 .widget_hoot-posts-blocks-widget .content-block-visual,
#frontpage-area_a_1 .widget_hoot-posts-blocks-widget .content-block-visual,
#frontpage-area_d .content-block-visual,
#archive-wrap .content-block-visual,
#sidebar-primary .content-block-visual,
.image-container-archive {
  position: relative;
  padding-bottom: 52.5%;
  overflow: hidden;
}
#frontpage-area_a_2 .widget_hoot-posts-blocks-widget .content-block-visual img,
#frontpage-area_a_1 .widget_hoot-posts-blocks-widget .content-block-visual img,
#frontpage-area_d .content-block-visual img,
#archive-wrap .content-block-visual img,
#sidebar-primary .content-block-visual img,
.image-container-archive img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ddhf-downloads-heading {
  text-transform: none;
  font-size: 1.2em;
}

.ddhf-downloads {
  display: table;
  width: 100%;
}
.ddhf-downloads .ddhf-downloads-row {
  display: table-row;
}
.ddhf-downloads .ddhf-downloads-row:nth-child(even) {
  background: #f0f0f0;
}
.ddhf-downloads .ddhf-downloads-row .ddhf-downloads-cell {
  padding: 10px;
  vertical-align: middle;
  display: table-cell;
}
.ddhf-downloads .ddhf-downloads-row .ddhf-downloads-cell.ddhf-downloads-image > img {
  max-height: 75px;
  width: auto;
}
.ddhf-downloads .ddhf-downloads-row .ddhf-downloads-cell.ddhf-downloads-image > img.ddhf-downloads-icon {
  max-height: 50px;
}
.ddhf-downloads .ddhf-downloads-row .ddhf-downloads-cell.ddhf-downloads-icon img {
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=style.css.map */
